/*fonts importées depuis Poppins Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
  --blanche: #FFFF;
  --noir:#222;
  --primaire:#007bc4;
  --gris:#888;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden; /*définit dépassement scroll ou pas*/   
    background-color: #EEEEEE;
  }
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background: #11101d;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  .sidebar ul{
    margin-top: 130px;
  }
  .sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin:  0 5px;
    list-style: none;
    line-height: 50px;
    margin: 5px 0;
  }
  .sidebar ul li a{
    color: #fff;
    align-items: center;
    display: flex;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.4s ease;
  }
  .sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
  }
  .sidebar .links_name{
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .sidebar ul li i{
    font-size: 22px;
    font-weight: 400;
    height: 40px;
    min-width: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 12px;
  }
  .sidebar #btn{
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 27px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
  }
  .sidebar.active{
  width: 240px;
  }
  .sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    transition: 0s;
  }
  .sidebar.active #btn{
    left: 90%;
  }
  .sidebar img{
    width: 120px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 120px;
  }
  .sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease;
  }
  .sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
    transition: all 2s ease;
  }
  .logo p{
    font-size: 21px;
    margin-left: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .home_content{
    position: absolute;
    height: 500px;
    width: calc(100% - 78px);
    left: 78px;
    background-size: cover;
    transition: all 0.5s ease;
  }
  
  .sidebar.active ~ .home_content{
    z-index: 100;
    width: calc(100% - 240px);
    left: 240px;
  }
  .home_content .text img{
    background-position: center;
    background-size: cover;
    max-height: max-content;
    max-width: max-content;
    /* height: 100%;
    width: 100%; */
  }
  
  
  /* ========= scrolling effect ======*/
  
  .all{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }
  /* hide scroll bar */
  .all::-webkit-scrollbar{
    width: 0px;
  }
  
  
  .sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 500ms ease-in-out;
  }
  .social-links i{
   padding: 8px;
   margin-left: 10px;
   margin-top: 7px;
   color: rgb(233, 234, 236);
   background: #393b57;
   border-radius: 50px;
   width: 33px;
   height: 33px;
   font-size: 17px;
   text-align: center;
  }
  .social-links i:hover{
    background: #36adf1;
  }
  .sidebar.active .profile_content .profile{
    background: #1d1b31;
  }
  .profile #log_out{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 24px;
    border-radius: 12px;
    text-align: center;
    transition:  all 0.4s ease;
    background: #1d1b31;
  }
  .sidebar.active .profile #log_out{
    left: 90%;
  }

.produitsSport{
    /*display: none;*/
    border: 1px solid black;
    border-radius: 12px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 70px;
}

.produitsVille{
    /*display: none;*/
    border: 1px solid black;
    border-radius: 12px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 70px;
}

.section1 {
  display: block;
  border: 1px solid blue;
  /*height: 300px;*/
  justify-content: center;
  align-items: center;
}

.container{
  overflow: hidden;
}

#row1{
  position: absolute;
  border: 3px solid yellow;
  justify-content: center;
  align-items: center;
}

#row1 >*{
  font-size: 1.2rem;
  font-weight: 400;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primaire);
}

.nomProduit1{

  border: 1px solid blue;
}

.photoNomProduit1{
	/* display:block;
	float:left;
	border-style: solid;
	border-color: grey;
	width:100%;
	height:100%;
	overflow:hidden; */
  display: flex;
  border: 1px solid blue;
  justify-content: center;
  align-items: center;
}
.imagePhotoProduit1 {
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.descriptionProduit1{

  border: 1px solid blue;

}

.categorieProduit1{

  border: 1px solid blue;
}

.prixProduit1{

  border: 1px solid blue;
}

a:hover{
  cursor: pointer;
}





.container {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 980px;
}

#cart {
	width: 100%;
}

#cart h1 {
	font-weight: 300;
}

#cart a {
	color: #53b5aa;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

#cart a:hover {
	color: #000;
}

.product.removed {
	margin-left: 980px !important;
	opacity: 0;
}

.product {
	border: 1px solid #eee;
	margin: 20px 0;
	width: 100%;
	height: 195px;
	position: relative;

	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;
}

.product img {
	width: 100%;
	height: 100%;
}

.product header, .product .content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-style: none none solid none;
	float: left;
}

.product header {
	background: #000;
	margin: 0 1% 20px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 24%;
	height: 195px;
}

.product header:hover img {
	opacity: .7;
}

.product header:hover h3 {
	bottom: 73px;
}

.product header h3 {
	background: #53b5aa;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	position: absolute;
	bottom: -50px;
	right: 0;
	left: 0;

	-webkit-transition: bottom .2s linear;
	-moz-transition: bottom .2s linear;
	-ms-transition: bottom .2s linear;
	-o-transition: bottom .2s linear;
	transition: bottom .2s linear;
}

.remove {
	cursor: pointer;
}

.product .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 140px;
	padding: 0 20px;
	width: 75%;
}

.product h1 {
	color: #53b5aa;
	font-size: 25px;
	font-weight: 300;
	margin: 17px 0 20px 0;
}

.product footer.content {
	height: 50px;
	margin: 6px 0 0 0;
	padding: 0;
}

.product footer .price {
	background: #fcfcfc;
	color: #000;
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.product footer .full-price {
	background: var(--primaire);
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;

	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: #53b5aa;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}

#site-footer {
	margin: 30px 0 0 0;
}

#site-footer {
	padding: 40px;
}

#site-footer h1 {
	background: #fcfcfc;
	border: 1px solid #ccc;
	border-style: none none solid none;
	font-size: 24px;
	font-weight: 300;
	margin: 0 0 7px 0;
	padding: 14px 40px;
	text-align: center;
}

#site-footer h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 10px 0 0 0;
}

#site-footer h3 {
	font-size: 19px;
	font-weight: 300;
	margin: 15px 0;
}

.left {
	float: left;
  display: block;
}

.right {
	float: right;
  display: flex;
}

.btn {
	background: var(--primaire);
	border: 1px solid #999;
	border-style: none none solid none;
	cursor: pointer;
	display: inline;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	padding: 10px 0;
	width: 200px;
	text-align: center;
  margin: 15px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.btn:hover {
	color: var(--gris);
	background: black;
}

.type {
	background: #fcfcfc;
	font-size: 13px;
	padding: 10px 16px;
	left: 100%;
}

.type, .color {
	border: 1px solid #ccc;
	border-style: none none solid none;
	position: absolute;
}

.color {
	width: 40px;
	height: 40px;
	right: -40px;
}

.red {
	background: #cb5a5e;
}

.yellow {
	background: #f1c40f;
}

.blue {
	background: #3598dc;
}

.minused {
	margin: 0 50px 0 0 !important;
}

.added {
	margin: 0 -50px 0 0 !important;
}






        



